header {

}
.header {
  &__banner {
    background-color: gray;
    min-height: 300px;
  }
  &__fita {
    z-index: 2;
    max-height: 50px;
    height: 50px;
    background: gold;
    display: flex;
    align-items: center;

    &__content {
      flex: 1;
    }

    &__botao {
      width: 120px;
      height: 120px;
      background: red;
      flex: none;
      border-radius: 50%;
    }
  }
}

main {
  min-height: 1220px;
  background: gray;
}
