<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- <link rel="stylesheet" type="text/css" href="/css/owl.carousel.min.css"> -->
  <link rel="stylesheet" type="text/css" href="/css/css.css">
  <title>HOTSITES - TEMPLATE</title>
  <script src="vendor/jquery/dist/jquery.min.js" charset="utf-8"></script>
</head>

<body>
  <div class="container-full">
    <header>
      <div class="fita" id="fita">
        <div class="fita-container container">
          <section class="fita__content fita__dados fita__dados--esquerda">
            <h1>O que tem para hoje</h1>
          </section>
          <div class="fita__content fita__botao-sombra"></div>
          <section class="__fita__content fita__botao" >
            <div class="fita__botao__o-que-tem-para-hoje" id="o-que-tem-para-hoje">
              ?
            </div>
          </section>
          <section class="fita__content fita__dados fita__dados--direita">
            <section class="fita__dados__usuario">
              <script type="text/template" id="tlp-usuario-fita-desconectado">
                <form action="">
                  <label for="login">Login: </label><input type="text" id="login">
                  <label for="senha">Senha: </label><input type="password" id="senha">
                  <button type="submit">OK</button>
                </form>
              </script>
              <script type="text/template" id="tlp-usuario-fita-conectado">

              </script>
            </section>
          </section>
        </div>
      </div>
    </header>
    <main>
      <!-- app -->
    </main>
    <footer></footer>
  </div>

  <script type="text/template" id="header__banner">
    <div class="header__banner__carousel">
    </div>
    <div class="vazia"></div>
  </script>

  <script type="text/template" id="home-prateleira">
    <h2 class="prateleira__titulo"><%= titulo %></h2>
    <div class="prateleira__carousel owl-carousel"></div>
  </script>

  <script type="text/template" id="tpl-detalhe">
    <div class="detalhe-container container">
      <div class="detalhe__imagem"><img src="<%= img %>" alt=""></div>
      <div class="detalhe__nome"><%= nome %></div>
      <div class="detalhe__descricao"><%= descricao %></div>
    </div>
  </script>

  <script src="vendor/underscore/underscore-min.js" charset="utf-8"></script>
  <script src="vendor/backbone/backbone-min.js" charset="utf-8"></script>
  <script src="vendor/localstorage/backbone.localStorage.min.js" charset="utf-8"></script>
  <script src="vendor/owl.carousel.min.js"></script>
  <!-- <script src="/js/requestService.js"></script> -->

  <script src="/js/storage.js" charset="utf-8"></script>
  <script src="/js/main.js"></script>
  <script src="/js/app.js" charset="utf-8"></script>
  <script src="/js/router.js" charset="utf-8"></script>

  <script src="/js/banner/banner-controller.js" charset="utf-8"></script>
  <script src="/js/banner/banner-model.js" charset="utf-8"></script>
  <script src="/js/banner/banner-collection.js" charset="utf-8"></script>
  <script src="/js/banner/banner-view.js" charset="utf-8"></script>
  <script src="/js/prateleira/prateleira-view.js" charset="utf-8"></script>
  <script src="/js/detalhe/detalhe-view.js" charset="utf-8"></script>
  <script src="/js/detalhe/detalhe-model.js" charset="utf-8"></script>

  <script>
    app.start()
  </script>



</body>
</html>
