$default-white: #FFFFFF;
$default-grey: #CCCCCC;
$default-black: #000000;

$link-default-color: $default-black;


:root {
  --color-red: #BD1E1E;
  --color-yellow: #F4DE79;
  --color-black-medium: #333;
  --color-black-dark: #222;
}
