@import 'colors';
@import 'fonts';
@import 'mixins';
@import 'reset';

@import 'vendor/owl.carousel';


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  // max-width: 1180px;
  margin: 0 auto;
}


@import 'header';
@import 'main';
